:root {
    --brown: #8B7969;
    --border: #E0DFDE;
}

.contact-form__heading {
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
}

.inika-bold {
    font-family: "Inika", serif;
    font-weight: 700;
    font-style: normal;
}

.contact-form__content {
    max-width: 972px;
    margin: 0 auto;
}

.contact-form__heading {
    text-align: center;
    margin: 36px 0;
    padding: 0;
    font-size: 35px;
    color: var(--brown);
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-title {
    flex: 1;
    padding: 16px 0;
    font-size: 20px;
    color: var(--brown);
}

.form-title.required:after {
    content: '※';
    margin-left: 8px;
    color: #FF9494;
}

.form-input {
    flex: 2;
}

.form-input__name,
.form-input__gender {
    display: flex;
    gap: 40px;
}

.form-input__last-name,
.form-input__first-name {
    flex: 1;
}

input {
    width: 100%;
    height: 38px;
    padding: 0 12px;
    border: none;
    background-color: #F4F4F4;
}

input[type="radio"] {
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid var(--brown);
    border-radius: 50%;
    vertical-align: -4px;
    appearance: none;
    margin-right: 12px;
}

input[type="radio"]:checked:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--brown);
    content: '';
}

.form-input__gender-button label {
    color: var(--brown);
}

.form-input__category {
    position: relative;
}

.form-input__category::before {
    position: absolute;
    top: 50%;
    right: 52%;
    transform: translateY(-50%);
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid var(--brown);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

select {
    width: 330px;
    height: 38px;
    padding-left: 12px;
    border: none;
    background-color: #F4F4F4;
    color: var(--brown);
    appearance: none;
}

textarea {
    width: 100%;
    height: 130px;
    padding: 12px;
    background-color: #F4F4F4;
    resize: none;
    border: none;
}

::placeholder,
.form-input__category--default {
    color: #BEB1A6;
}

.form-input__error-message {
    color: #FF9494;
}

.form-button {
    text-align: center;
    margin: 48px 0;
}

.form-button__submit {
    padding: 8px 32px;
    border: none;
    border-radius: 0;
    background-color: #82756A;
    color: white;
    cursor: pointer;
}