:root {
    --brown: #8B7969;
    --border: #E0DFDE;
}

.contact-form__heading {
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
}

.inika-bold {
    font-family: "Inika", serif;
    font-weight: 700;
    font-style: normal;
}

.contact-form__content {
    max-width: 972px;
    margin: 0 auto;
}

.contact-form__heading {
    text-align: center;
    margin: 36px 0;
    padding: 0;
    font-size: 35px;
    color: var(--brown);
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-title {
    flex: 1;
    padding: 16px 0;
    font-size: 20px;
    color: var(--brown);
}

.form-title.required:after {
    content: '※';
    margin-left: 8px;
    color: #FF9494;
}

.form-input {
    flex: 2;
}

.form-input__name,
.form-input__gender {
    display: flex;
    gap: 40px;
}

input {
    width: 100%;
    height: 38px;
    padding: 0 12px;
    border: none;
    background-color: #F4F4F4;
}

select {
    width: 330px;
    height: 38px;
    padding-left: 12px;
    border: none;
    background-color: #F4F4F4;
}

textarea {
    width: 100%;
    height: 130px;
    padding: 12px;
    background-color: #F4F4F4;
    resize: none;
    border: none;
}

::placeholder,
.form-input__category--default {
    color: #BEB1A6;
}

.form-button {
    text-align: center;
    margin: 48px 0;
}

.form-button__submit {
    padding: 8px 32px;
    border: none;
    border-radius: 0;
    background-color: #82756A;
    color: white;
    cursor: pointer;
}