.thanks__content {
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
    transform: translateY(30vh);
}

.thanks-sentence {
    margin: 0;
    color: #8B7969;
    font-size: 30px;
    font-weight: 700;
    position: relative;
}

.thanks-sentence::after {
    content: 'Thankyou';
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200px;
    color: #8B79690D;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -30%);
}

.thanks-link__go-home {
    padding: 8px 32px;
    border: none;
    border-radius: 0;
    background-color: #82756A;
    color: white;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    z-index: 100;
}